@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #0a6cd5;
    height: 48px;
}

.title{
    color: aliceblue;
}

.nav-bar ul{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style: none;
}

.nav-bar ul li a{
    text-decoration: none;
    color: red;
}

.nav-item{
    background-color: aliceblue;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item:hover{
    background-color: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.nav-item li a:hover{
    color: rgb(12, 11, 11);
}

#content{
    margin: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
}

/* .section-header{

} */

.detail-title{
    font-size: 18px;
}

.text-field{
    margin-top: -100px;
    font-size: 20px;
}

.btn-list{
    /* gap: -50px; */
}

.button{
    margin-top: 28px;
    height: 30px;
    margin-right: -3.5px;
    border: none;
    cursor: pointer;
}

#btn-save-customer, #btn-save-item{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(75, 201, 223);
    color: white;
}

#btn-remove-customer, #btn-remove-item{
    background-color: rgb(221, 49, 49);
    color: white;
}

#btn-update-customer, #btn-update-item{
    background-color: rgb(255, 234, 0);
}

#btn-getall-customer, #btn-getall-item{
    background-color: green;
    color: white;
}

#btn-clearall-customer, #btn-clearall-item{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(221, 49, 49);
    color: white;
}



.table table th{
    background-color: rgb(233, 68, 68);
    color: whitesmoke;
}

.table table th, .table table td{
    font-size: 17px;
    font-weight: 50;
    font-family:'Times New Roman', Times, serif;
    padding-left: 15px;

    width: 20vw;
    height: 4vw;
    border: 0.5px solid aliceblue;
    text-align: left;
}

.table table tr:hover{
    background-color: rgb(250, 165, 165);
    cursor: pointer;
}

#customer-table-body, #item-table-body{
    font-size: 50px;
    background-color: aqua;
}

.section{
    display: none;
}

.section:target{
    display: block;
}



.card-container{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.card{
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.card-head{
    width: 100%;
    height: 48px;
    background-color: rgb(16, 157, 16);
}

.card-head-content{
    color: white;
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-left: 20px;
}

.card-content{
    padding-left: 20px;
}

.form{
    display: flex;
    grid-template-columns: 15% 15%; 
    gap: 40px;
    
}

.form-text-field{
    margin-top: -15px;
}

